.column-section {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.lelie-img {
  width: 300px;
  height: 239px;
}
