.header {
  margin: 0 auto;
  max-width: 900px;
}

.header-wrap {
  background: $main-background-color;
  display: flex;
  justify-content: space-between;

  .logo {
    margin: 10px 10px 25px; 
  }

  .title {
    font-family: 'Open Sans';
    font-size: 4.3rem;
    font-weight: bold;
    font-style: italic;
    margin-top: 30px;
  }

  .contact-info {
    font-size: $font-size-small;
    margin: 40px 20px 0px;
  }
}

.nav {
  background: rgb(71,145,127);
  background: -moz-linear-gradient(180deg, rgba(71,145,127,1) 0%, rgba(151,200,169,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(71,145,127,1) 0%, rgba(151,200,169,1) 100%);
  background: linear-gradient(180deg, rgba(71,145,127,1) 0%, rgba(151,200,169,1) 100%);
  border: 1px solid #888;
  display: flex;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#47917f",endColorstr="#97c8a9",GradientType=1);

  .nav-item {
    border-right: 1px solid #888;
    color: $base-font-color;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;

    &.active {
      background: #9dc1b9;
    }
  }
}
