html {
  background-color: $viewport-background-color;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  min-height: 100%;
}

html,
body.full-height {
  height: 100%;
}

body {
  background: $body-background-color;
  margin: 0;
  padding: 0;
}
