---
order: 1
title: "Home"
body_class: "full-height"
---
<div class="content">
  <h1><%= current_page.data.title %></h1>

  <p>
    Voor informatie over <strong>Tai Chi Tao</strong> Lessen in Assen, Wijster, Zuidlaren en Hooghalen, bekijk <a href="/agenda">de agenda</a>.
  </p>
  <p>
    Voor meer informatie neem contact op met Marjolein Slikkerveer:
  </p>
  <ul>
    <li>06-250 25 275</li>
    <li>
      <a href="mailto:marjolein@ikontwaak.nu">Marjolein@IkOntwaak.Nu</a>
    </li>
  </ul>
</div>
