---
order: 2
title: "Tai Chi Tao"
---

<div class="content">
  <h1>Tai Chi Tao: De weg van bewegen</h1>

  <p>Lichaamsbeweging houdt het lichaam en de geest soepel en vitaal. De visie van Tai Chi Tao is door ontspanning, concentratie, meditatie, harmonie en kalmte de kracht in jezelf te gaan ervaren. 
      Daar waar je aandacht is, daar stroomt de Qi (levensenergie). Tai Chi Tao is ontstaan uit de technieken van de Qi Gong (energetisch oefeningen gericht op duurzame vitaliteit). </p>
  <p>Tai Chi Tao is 
      zeer uitgebreid met oefeningen voor ademhaling, meridianen, drukpunten, ronde bewegingen, meditatie, zelfmassage en andere 
      manieren om met energie te werken. De oefeningen die we bij Tai Chi Tao gebruiken zijn zacht, vriendelijk en aanpasbaar voor 
      iedereen. Ze brengen lichaam en geest in evenwicht.</p> 
  <p>De vijf elementen die hierin centraal staan zijn water, hout, vuur, 
      aarde en metaal. Elk element staat o.a. in verbinding met een bepaald orgaan, zintuig, emotie, kleur, smaak, geluid en seizoen. 
      Tai Chi Tao is er voor iedereen, niemand uitgezonderd. </p>
  <div class="column-section">  
    <p><strong>U kunt ook meedoen in/op een (rol)stoel.</strong></p>
    <%= image_tag "lelie.png", :class => "lelie-img", :alt => "lelie" %>
  </div>
</div>
